<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% if form.instance.pk %}Editar Destino{% else %}Novo Destino{% endif %}</title>
</head>
<body>
    <h1>{% if form.instance.pk %}Editar Destino{% else %}Novo Destino{% endif %}</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Salvar</button>
    </form>
    <a href="{% url 'lista_destinos' %}">
        <button>Cancelar</button>
    </a>
    <br>
    <a href="{% url 'lista_destinos' %}">
        <button>Voltar</button>
    </a>
</body>
</html>
